footer
    .footer-top#contacts
        .container
            .contact-title
                .section-title
                    .cintact-us-blocks.section-title__img
                    span Связатся с нами
            .contact-address_wrap
                .contact-address
                    .contact-address__street.contact-address__item
                        .contact-address__street-ico.contact-address__item-ico
                            img(src="img/location.png" alt="location icon")
                        .contact-address__street-text.contact-address__text
                            span 5, Klovskiy Uzviz Street
                            span 01021 Kiev, Ukraine
                    .contact-address__telephone.contact-address__item
                        .contact-address__telephone-ico.contact-address__item-ico
                            img(src="img/tel.png" alt="telephone icon")
                        .contact-address__telephone-text.contact-address__text
                            a(href='tel:0442201950') (044) 220 19 50
                            a(href='tel:044225672') (044) 220 56 72
                    .contact-address__email.contact-address__item
                        .contact-address__email-ico.contact-address__item-ico
                            img(src="img/address.png" alt="email icon")
                        .contact-address__email-text.contact-address__text
                            a(href="mailto:info@udg.com.ua") info@udg.com.ua

    .footer-bottom
        .left-side.footer-bottom__item
            span © 2018 Standard development, All rigths reserved.
        .miidle-side.footer-bottom__item
            a(href="#").facebook
            a(href="#").twitter-logo.twitter
            //a(href="#").vk
        .right-side.footer-bottom__item
            .header-top__phones.footer-phones
                ul.phones-list
                    li
                        a(href='tel:01234567891') 01234567891
                    li
                        a(href='tel:09876541230') 09876541230