header
    .header-top
        .header-top__logo
            .logo-img
                img(src="img/logo.png" alt="logo" title="logo")
            .logo-title
                span СПИРТЯКА И СИГАРЕТЯКА ОТ ВаЛЫНЯКЫ
        .header-top__menu
            nav.header-main-menu.navbar
                ul
                    li
                        a(href='#products').go_to_products.go_to_section Товар
                    li
                        a(href='#delivery').go_to_delivery.go_to_section Доставка и оплата
                    li
                        a(href='#advantages').go_to_advantages.go_to_section Наши приемущества
                    li
                        a(href='#feedback').go_to_feedback.go_to_section Отзывы
                    li
                        a(href='#contacts').go_to_contacts.go_to_section Контакты
            .header-top__phones
                ul.phones-list
                    li
                        a(href='tel:01234567891') (012) 345 67 89
                    li
                        a(href='tel:09876541230') (098) 765 41 23
            .header-main-param
                .show-mobile-menu
                    button.show-mobile-menu__btn
                        span
            //    .dropdown
            //        .dropbtn
            //            span.dropbtn__lang en
            //        .dropdown-content
            //            a(href="#") ua
            //            a(href="#") en
            //    .search_bar
            //        .search_form_wrap
            //            form.form_check(action='#')
            //                .input_wrap
            //                    input.input_search.form_control(type='text', placeholder='What you are looking for?')
            //                    .search_close
            //                .button_wrap
            //                    .serch_btn
            //                        img(src="img/magnifying-glass.svg" alt="search" title="search button")


    .header-bottom
        .main-slider-wrap
            .main-slider
                .main-slider__item
                    .img-cont.box
                        img(src="img/delivery.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .arrow-left
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .arrow-right
                        span.main-slider-text Доставка по всей  Украине до 2 дней
                .main-slider__item
                    .img-cont.box
                        img(src="img/opt.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .arrow-left
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .arrow-right
                        span.main-slider-text Скидки при опте
                .main-slider__item
                    .img-cont.box
                        img(src="img/Oplata.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .arrow-left
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .arrow-right
                        span.main-slider-text Удобный способ оплаты
                .main-slider__item
                    .img-cont.box
                        img(src="img/garanty.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .arrow-left
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .arrow-right
                        span.main-slider-text Гарантия качества
            .main-slider-scroll
                a(href="#main-content")
                    .mouse