main
    section#main-content
        .main-wrap
            section#products
                .container
                    .product-wrap
                        .product-header
                            .section-title.product__header
                                .cintact-us-blocks.section-title__img
                                span наша продукция
                        .product
                            .product__item
                                .product-title
                                    span.text-header Этиловый питьевой спирт
                                .product-img
                                    .img-cont
                                        img(src="img/layer-5.png" alt="product prev")
                                .product-text
                                    .text-prev
                                        span Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developments, commercial offices, industrial buildings and retail centers. 
                                .product-desc
                                    table
                                        tbody
                                            tr
                                                td 1л
                                                td 60грн
                                            tr
                                                td 2л
                                                td 120грн
                                            tr
                                                td 3л
                                                td 170грн
                                            tr
                                                td 4л
                                                td 200грн
                                .product-more
                                    a(href="#") Купить
                            .product__item
                                .product-title
                                    span.text-header медицинский спирт
                                .product-img
                                    .img-cont
                                        img(src="img/layer-6.png" alt="product prev")
                                .product-text
                                    .text-prev
                                        span Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developments, commercial offices, industrial buildings and retail centers. 
                                .product-desc
                                    table
                                        tr
                                            td 1л
                                            td 60грн
                                        tr
                                            td 2л
                                            td 120грн
                                        tr
                                            td 3л
                                            td 170грн
                                        tr
                                            td 4л
                                            td 200грн
                                .product-more
                                    a(href="#") Купить
                            .product__item
                                .product-title
                                    span.text-header Сасиски с польцкёго
                                .product-img
                                    .img-cont
                                        img(src="img/layer-7.png" alt="product prev")
                                .product-text
                                    .text-prev
                                        span Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developments, commercial offices, industrial buildings and retail centers. 
                                .product-more
                                    a(href="#") Купить
                            .product__item
                                .product-title
                                    span.text-header сигареты до польцкёго
                                .product-img
                                    .img-cont
                                        img(src="img/layer-7.png" alt="product prev")
                                .product-text
                                    .text-prev
                                        span Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developments, commercial offices, industrial buildings and retail centers. 
                                .product-more
                                    a(href="#") Купить
                            .product__item
                                .product-title
                                    span.text-header салидол
                                .product-img
                                    .img-cont
                                        img(src="img/layer-7.png" alt="product prev")
                                .product-text
                                    .text-prev
                                        span Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developments, commercial offices, industrial buildings and retail centers. 
                                .product-more
                                    a(href="#") Купить
            section.numbers#delivery
                .numbers_inner
                    .container
                        .purchase-title
                            h2 Как сделать заказ?
                        .purchase
                            .purchase__item.purchase__item_left
                                .purchase-text
                                    span.purchase-text__item.purchase-text__item_worth 1
                                    span.purchase-text__desc Связатся с нами:
                                    .purchase-phones
                                        ul.phones-list
                                            li
                                                a(href='tel:01234567891') 01234567891
                                            li
                                                a(href='tel:09876541230') 09876541230
                            .purchase__item.purchase__item_middle
                                .purchase-text
                                    span.purchase-text__item.purchase-text__item_land 2
                                    span.purchase-text__desc Оформить заказ, уточнить детали
                            .purchase__item.purchase__item_right
                                .purchase-text
                                    span.purchase-text__item.purchase-text__item_years 3
                                    span.purchase-text__desc Забрать заказ на отделении почты
            section
                .container
                    .payment-container
                        .payment-wrap
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/new.png")
                                        .payment__item__title
                                            h3 Новая почта
                                        //.payment__item__desc
                                        //    p На отделении новой почты
                        .payment-wrap
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/intime.png")
                                        .payment__item__title
                                            h3 Интайм
                        .payment-wrap
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/new.png")
                                        .payment__item__title
                                            h3 Деливери
                        .payment-wrap
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/privat24.png")
                                        .payment__item__title
                                            h3 Приват24
                        .payment-wrap
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/cash.png")
                                        .payment__item__title
                                            h3 Наличными
                        .payment-wrap.payment-wrap_last
                            .payment
                                .payment__item-wrap
                                    .payment__item
                                        .payment__item__img
                                            .img-cont
                                                img(src="img/cintact-us-blocks.png")
                                        .payment__item__title
                                            h3 Наличными



            section#advantages
                .container
                    .projects
                        .our-projects-left
                            .section-title.our-projects
                                .cintact-us-blocks.section-title__img
                                span наши приимущества
                            //a(href='#').portfolio-link see portfolio
                            //    .arrow
                        .our-projects-right
                            .our-projects-right__item.our-projects-right__item_first
                                .our-projects-right__item_wrap
                                    .our-projects-right__item_inner
                                        .our-projects-right__item__title
                                            span Доставка по всей  Украине до 2 дней
                                        .our-projects-right__item__desc
                                            span Новая почта (1-2 дня), Delivery (1-3 дня), курьерская доставка (1-4 дня)
                                        //.our-projects-right__item__link
                                        //    a(href='#') read more
                            .our-projects-right__item.our-projects-right__item_second
                                .our-projects-right__item_wrap
                                    .our-projects-right__item_inner
                                        .our-projects-right__item__title
                                            span Скидки при опте
                                        .our-projects-right__item__desc
                                            span А так же постоянным клиентам возможны скидки!
                                        //.our-projects-right__item__link
                                        //    a(href='#') read more
                            .our-projects-right__item.our-projects-right__item_third
                                .our-projects-right__item_wrap
                                    .our-projects-right__item_inner
                                        .our-projects-right__item__title
                                            span Гарантия качества
                                        .our-projects-right__item__desc
                                            span Изготовлено из отборной пшеницы. Отличная основа для ликерно-водочной продукции высочайшего качества.
                                        //.our-projects-right__item__link
                                        //    a(href='#') read more
                            .our-projects-right__item.our-projects-right__item_fourth
                                .our-projects-right__item_wrap
                                    .our-projects-right__item_inner
                                        .our-projects-right__item__title
                                            span Удобный способ оплаты
                                        .our-projects-right__item__desc
                                            span Наложенный платеж, безналичный расчет (карта Приват), наличными при получении
                                        //.our-projects-right__item__link
                                        //    a(href='#') read more

            section.feedback#feedback
                .container
                    .feedback__wrap
                        .feedback-slider.feedback__slider
                            .feedback__slider__item
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face3.jpg')
                                    .feedback__desc
                                        span Назик
                                        .feedback__slider__item_text
                                            p Выражаю благодарность за ваше терпение таких дотошных клиентов, как я. Я реально искал тех, с кем буду работать на постоянной основе. В моем деле главное – качество используемого сырья. Я его заказал у вас и не ошибся. Спасибо!
                                .feedback__people.feedback__people_middle
                                    .feedback__slider__item_avatar
                                        img(src='img/face2.jpg')
                                    .feedback__desc
                                        span Петрович
                                        .feedback__slider__item_text
                                            p Хочу пожелать вашей компании роста и процветания и еще больше благодарных клиентов! Мы рады, что нашли надежного поставщика питьевого спирта. Всегда довольны качеством вашей продукции и надеемся на дальнейшее сотрудничество с вами!
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face1.jpg')
                                    .feedback__desc
                                        span Усатый
                                        .feedback__slider__item_text
                                            p Заказал питьевой спирт здесь на сайте впервые. Заказал для личных нужд и пробовать буду завтра на застолье. Скорость принятия заказа и доставки меня порадовала. Первое впечатление – более чем хорошее!
                            .feedback__slider__item
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face3.jpg')
                                    .feedback__desc
                                        span Назик
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                                .feedback__people.feedback__people_middle
                                    .feedback__slider__item_avatar
                                        img(src='img/face2.jpg')
                                    .feedback__desc
                                        span Петрович
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face1.jpg')
                                    .feedback__desc
                                        span Усатый
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                            .feedback__slider__item
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face3.jpg')
                                    .feedback__desc
                                        span Назик
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                                .feedback__people.feedback__people_middle
                                    .feedback__slider__item_avatar
                                        img(src='img/face2.jpg')
                                    .feedback__desc
                                        span Петрович
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, suscipit at sem. Curabitur accumsan fermentum elit , suscipit at sem. Curabitur accumsan fermentum elit, suscipit at sem. Curabitur accumsan fermentum elit
                                .feedback__people
                                    .feedback__slider__item_avatar
                                        img(src='img/face1.jpg')
                                    .feedback__desc
                                        span Усатый
                                        .feedback__slider__item_text
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, suscipit at sem. Curabitur accumsan fermentum elit

            section.about
                .container
                    .about__header
                        .section-title.about__header
                            .cintact-us-blocks.section-title__img
                            span
                                | who
                                br
                                |  we are?

                    .about-text
                        .about-text__left
                            .about-left__content
                                span
                                    | Urban Development Group (UDG) – property investment, development and management company focusing on residential and commercial property development in CEE countries. Business was founded as a number of privately-held companies and investments mostly in residential property in 2008 and structured into group of companies with same investors in 2015. UDG boasts over USD 40 million worth of property developments in its up to five year development pipeline. The group has currently 7 ha of land under development for residential and commercial purposes. Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource management, project marketing, building design and construction of residential developmentscommercial offices, industrial buildings and retail centers.
                                    | In Ukraine company making investment activity through SPV Corporate Investment Fund “UDG” which registered as public stock company and acquire funds for development via shares issue.
                                    | Specialization of investment fund - financing of development projects such as residential buildings, complexes and quarters, investments objects are property rights for residential and commercial premises. UDG making investments into projects if able to have major influence into project concept, working with best architectors and consultants.

                        .about-text__right
                            .about-right__img